<ul class="pure-g s64 no-indent">
  <%
  items.each do |item|
    next if !item["gold"]["purchasable"]
  %>
    <li>
      <%=
      erb :'images/items/show', locals: {item: item}
      %>
    </li>
    <br>
  <% end %>
</ul>