<ul class="pure-g s64 no-indent">
  <% @items.each do |item| %>
    <% next if !item["gold"]["purchasable"] %>
    <li>
      <% @item = item %>
      <% @cls = "" %>
      <%= erb :'images/items/show' %>
    </li>
    <br>
  <% end %>
</ul>