<%=
  image = item["image"]
  sprite = "#{image["sprite"]}"[0..-5]
  title = "title='#{item["name"]}'"
  cls = "class='" + (ONLINE ? "online" : "offline") + "-sprite-#{sprite}'"
  case (sprite[-1])
  when "0"
    bgpos = "style='background-position: #{(10 * 48) - image["x"]}px #{image["y"]}px'"
  when "1"
    bgpos = "style='background-position: #{(10 * 48) - image["x"]}px #{image["y"]}px'"
  when "2"
    bgpos = "style='background-position: #{(9 * 48) - image["x"]}px #{image["y"] - 48}px'"
  end
  "<span #{title} #{cls} #{bgpos}></span>"
%>
<% image["x"].to_s + "px " + image["y"].to_s + "px" %>
<% item %>