$header-height: 2em;
$primary-color: #ECE6C7;
$secondary-color: #13552D;
$modifiers-bar-height: 2em;

* {
  outline: none;
}

body {
  background-color: $primary-color;//#ddd;
  width: 100%;
  & a {
    text-decoration: none;
  }
  height: 600px;
}

header {
  top: 0;
  height: $header-height;
  width: 100%;
  background: $secondary-color;
  line-height: $header-height;
  position: fixed;
  & div {
    position: relative;
    &.header-left {
      float: left;
      margin-left: 0.25em;
    }
    &.header-right {
      float: right;
      margin-right: 1em;
    }
  }
  & a {
    color: $primary-color;
  }
  & h1 {
    position: relative;
    margin: 0;
    top: 0.025em;
    font-size: 1.5em;
    color: $primary-color;
  }
}

.header-filler {
  position: relative;
  height: $header-height;
}

.error {
  color: #b22;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

input {
  border: none;
  text-align: center;
}

th {
  text-align: left;
}

div.input-field {
  margin-top: 10px;
  margin-bottom: 1em;
}

input {
  width: 75%
}

.form-area {
  margin-top: 2em;
  background-color: $primary-color;
  border: solid 5px $secondary-color;
  & > h1, input {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  & > h1 {
    overflow: scroll;
  }
}

.button {
  background-color: $secondary-color;
  margin-bottom: 1em;
}

label {
  color: $secondary-color;
}

ul {
  list-style-type: none;
  &.no-indent {
    margin: 0; padding: 0;
    &.images li {
      width: 48px;
      height: 48px;
    }
  }
}

.sprite {
  height: 48px;
  width: 48px;
  display: inline-block;
}

.menu-bar.item-set-modifiers {
  position: relative;
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: $modifiers-bar-height;
  line-height: $modifiers-bar-height;
  & button {
    width: 100%;
    color: $primary-color;
    background-color: $secondary-color;
  }

  & .map-selector {
    display: block;
    width: 100%;
  }
  & input {
    height: $modifiers-bar-height;
    width: 100%;
    background-color: lighten($secondary-color, 5%);
    color: $primary-color;
    padding: 0;
    font-weight: bold;
    text-align: center;
    &::-webkit-input-placeholder {
      color: $primary-color;
      opacity: 0.3;
    }
    &:-moz-placeholder {
        color: $primary-color;
      opacity: 0.3;
    }
    &::-moz-placeholder {
        color: $primary-color;
      opacity: 0.3;
    }
    &:-ms-input-placeholder {
        color: $primary-color;
      opacity: 0.3;
    }
  }
  & ul {
    height: $modifiers-bar-height;
  }
  & ul li {
    height: $modifiers-bar-height;
    line-height: $modifiers-bar-height;
    width: 100%;
    // float: left;
    display: none;
    text-align: center;
    color: $primary-color;
    background-color: $secondary-color;
    // margin-bottom: 0;
    cursor: default;
    overflow: scroll;
    &:first-child {
      display: list-item;
      background-color: darken($secondary-color, 2%);
    }
    &:hover {
      background-color: darken($secondary-color, 5%);
    }
    &.unviable {
      background-color: $primary-color;
      color: $secondary-color;
    }
  }
}

div.menu-bar.champion-select {
  text-align: center;
  margin: 2em 0;
  line-height: $modifiers-bar-height;
  & input {
    height: $modifiers-bar-height;
    background-color: #333;
    color: lighten($primary-color, 10%);
  }
}

.pure-button {
  background-image: none;
  &:focus {
    background-color: none;
  }
}