<ul class="images">
  <%
  items.each do |item|
    next if !item["gold"]["purchasable"]
  %>
    <li>
      <%=
      erb :'partials/images/items/_show', locals: {item: item}
      %>
    </li>
  <% end %>
</ul>