div.item-set-container {
  margin: 0 5%;
  border: 1px solid black;
  border-radius: 25px;
  padding: 25px 0;
  background-color: $secondary-color;

  & div.row-container {
    max-height: 364px;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0 !important }
    -ms-overflow-style: none;
  }
  & div.item-set-row {
    text-align: center;
    // background-color: lighten($secondary-color, 5%);
    &.new-row {
      line-height: 3em;
      margin-bottom: 0;
      cursor: default;
      background-color: #13557D;
      &:active {
        background-color: darken(#13557D, 5%);
      }
    }
  }

  div.item-set-row-container {
    border-radius: 10px;
    margin: 10px auto 20px auto;
    display: block;
    & div.row-items {
      height: 92px;
    }
    & ul {
      width: 100%;
      height: 92px;
      margin: 0;
      padding: 0;

      overflow-y: scroll;
      &::-webkit-scrollbar { width: 0 !important }
      -ms-overflow-style: none;


      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      & li {
        display: inline-flex;
        width: $item-size;
        height: $item-size;

        & .sprite {
          display: inherit;
          width: $item-size;
          height: $item-size;
        }
      }
    }
  }

  & div.item-set-row-delete {
    margin-top: .3%;
    margin-left: .6%;
    position: absolute;
    width: 1.1em;
    text-align: center;
    font-weight: bold;
    cursor: default;
    background-color: red;
    color: white;
  }

  & input {
    &.row-name, &.row-name+div {
      margin: 0 auto 0 auto;
      width: 90%;
      border: 1px solid black;
    }
    &.row-name {
      height: $input-height;
      border-radius: 10px 10px 0 0;
    }
    &.row-name+div {
      height: $item-size * 1.5;
      border-top: none;
      border-radius: 0 0 10px 10px;
    }
    &.item-set-name {
      line-height: $input-height+1;
      height: $input-height+1;
      width: 100%;
      margin: 0;
      background-color: lighten($secondary-color, 5%);
      color: $primary-color;
      padding: 0;
      font-weight: bold;
      text-align: center;
    }
  }
}