div.items {
  height: 460px;
  border-radius: 25px;
  padding: 25px 0;
  margin: 0 5%;
  border: 1px solid black;
  // border-radius: 25px;
  // padding: 25px 0;
  text-align: center;
  background-color: $secondary-color;

  &>input {
    width: 100%;
  }

  & ul.images {
    max-height: 420px;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0 !important }
    -ms-overflow-style: none;

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px 5px 0 5px;
    justify-content: center;
    align-items: flex-start;

    & li {
      display: inline-flex;
      width: $item-size;
      height: $item-size;

      & .sprite {
        display: inherit;
        width: $item-size;
        height: $item-size;
      }
    }
  }
}
