<div class="item-set-row-container">
  <div class="item-set-row-delete" style="display: none;">X</div>
  <input type="text" class="row-name" placeholder="Row Name">
  <div class='row-items'><ul class='item-set images'></ul></div>
</div>