<div class="page pure-g">
  <div class="item-set pure-u-2-5" style="background-color: red;">
    <img src="/img/gold2.png" class="item-img">
  </div>
  <div class="item-set pure-u-1-5" style="background-color: black;"></div>
  <div class="item-set pure-u-2-5" style="background-color: black;">
    <%= erb :'images/items/index', locals: {items: get_items} %>
  </div>
</div>